<br />
<br />

<main  class='card'>
  <div class='card-body'>
    <div class='card p-3'>
      <h3 class='text-capitalize'>JavaScript</h3>
      <p>JavaScript is a popular high-level, dynamic, and
        interpreted programming language.</p>
      <div class='card-body'>
        <a href='#' class='btn btn-primary'>
          Open page
        </a>

        <br />
        <br />
        <div class='btn btn-outline-primary'>
          Add to cart
        </div>
      </div>
    </div>

    <br />
    <br />

<div class="card">
    <div class='card-body'>
      <h3 class='text-capitalize'>Stack Overflow</h3>
      <h6>First-class functions</h6>
      <div class='card-body'>
        <a href='#' class='btn btn-secondary'>
          Open page
        </a>

        <br />
        <br />
        <div class='btn btn-outline-secondary'>
          Add to cart
        </div>
      </div>
    </div>
    </div>

    <br />
    <br />


<div class="card">
    <div class='card-body'>
      <h3 class='text-capitalize'>JavaScript Weekly</h3>
      <h6>Prototype-based inheritance newsletter</h6>
      <div class='card-body'>
        <a href='#' class='btn btn-dark'>
          Open page
        </a>

        <br />
        <br />
        <div class='btn btn-outline-dark'>
          Add to cart
        </div>
      </div>
    </div>
    </div>

  </div>

</main>

<main class='card'>
  <div class="card-body">
  <h1 class='display-1 text-capitalize'>HTML</h1>
  </div>
  <div class='card-body'>


<div class="card">
<div class='card-body'>   
      <h3 class='text-capitalize'>Outdated HTML tags</h3>
      <p>tags that have been identified as deprecated and not recommended for use in HTML version 5</p>
      <div class='card-body'>
        <a href='#' class='btn btn-outline-warning'>
          Open
        </a>

       

      </div>

  </div>
  </div>

        
        <br />
        <p>Sections</p>
  <div class='btn btn-outline-primary'>
          Learn more
        </div>
</main>